body {
  --neutralPrimary: #ffffff;
  --neutralDark: #201f1e;
  --textPrimary: #181818;
  --textSecondary: #1f1f1f;
  --themePrimary: #314006;
  --themeSecondary: #131200;
  --themeLight: #139403;
  --errorMessageColor: #ef516e;
}
